<section class="content">

    <form novalidate="novalidate" id="editor" method="post" action=".">

        <div class="row row-margin">

            <div class="col-md-6">

                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Stammdaten</h3>
                    </div>

                    <div class="card-body">

                        <div class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" name="name" placeholder="gerda">
                            </div>
                        </div>

                    </div>

                </div>


            </div>

            <div class="col-md-6">

                <div class="card">

                    <div class="card-header">
                        <h3 class="card-title">Weiteres</h3>
                    </div>

                    <div class="card-body">

                    </div>

                </div>


            </div>

        </div>

        <div class="row justify-content-end">

            <div class="col-auto">
                <button class="btn btn-block btn-primary">Speichern</button>
            </div>

            <div class="col-auto">
                <a href="../" class="btn btn-block btn-outline-primary">Abbrechen</a>
            </div>

        </div>

    </form>

</section>

<script>

    window.addEventListener("load", function() {

        $('#editor').validate({
            rules: {
                name: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Bitte geben Sie den Namen des Issuers ein"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.col-sm-9').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

    });

</script>